<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=ISO-8859-1">
</head>
<body>
	<h3>Template file for the sr_language_menu extension.</h3>
	
	<h4>Flags</h4>
	<!-- ###TEMPLATE_0### begin -->
		<!-- ###FLAG_LIST### begin
			  This is the part of the template substituted with the list of flags: 
		-->
			<!-- ###FLAG_ENTRY### begin 
				Template for a single flag 
			-->
				###FLAG### ###LINK###
			<!-- ###FLAG_ENTRY### end-->
		<!-- ###FLAG_LIST### end -->
	<!-- ###TEMPLATE_0### end -->

	
	<h4>Dropdown list</h4>
	<!-- ###TEMPLATE_1### begin -->
			###LANGUAGE_SELECT###
	<!-- ###TEMPLATE_1### end -->
	
	
	<h4>Text</h4>
	<!-- ###TEMPLATE_2### begin -->
		###LINK_SELECT_LANGUAGE###
		<!-- ###LINK_LIST### begin
			  This is the part of the template substituted with the list of links: 
		-->
			<!-- ###LINK_ENTRY### begin 
				Template for a single link 
			-->
				###LINK###
			<!-- ###LINK_ENTRY### end-->
		<!-- ###LINK_LIST### end -->
	<!-- ###TEMPLATE_2### end -->
	
	
</body>
</html>