<HTML>
<HEAD>
<TITLE>Les arbres de France les plus courants.</TITLE>
<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="ROBOTS" content="All">
<meta http-equiv="Content-Language" content="fr">
<meta name="Keywords" content="arbre, arbres, photo,dessins, identification,fiche, information, utilisation, medecine,culinaire">
<meta name="Description" content="Fiches descriptives, dessins et photos sur 400 plantes sauvages couramment rencontrees. Un programme vous aide a identifier une plante trouvee.">
<link href="templates/stylesfleurs.css" rel="stylesheet" type="text/css" />

</HEAD>
<body class="arbre">
<div id="arbre">
	<div id="centrer">
		<div id="site">
			<div id="header">
				<div id="header_gauche"></div>
				<div id="header_droit"></div>
			</div>
			<div id="main">
			  <div id="main_gauche">
					<div id="contact">Nous contacter : <a href="mailto:georgeslaroche@free.fr">georgeslaroche@free.fr</a></div>
					<div id="titre"><a href="liste.php">Description</a></div>
					<div id="sous_titre">Fiches des esp&egrave;ces communes d'arbres fran&ccedil;ais</div>	
					<div id="titre"><a href="se_arbre.php">Reconnaissez un arbre</a></div>
					<div id="sous_titre">Identifiez un arbre en fonctio nde ses feuilles (ou aiguilles)</div>

			  </div>

				<div id="main_droite">
					<A HREF="fiche.php?code=2"><IMG SRC="phototheque/vignette_arbre/quercus_petraea_1.jpg" WIDTH=70 HEIGHT=98 BORDER=0 ALIGN=bottom></A> 
					<A HREF="fiche.php?code=1"><IMG SRC="phototheque/vignette_arbre/olea_europaea_1.jpg" WIDTH=70 HEIGHT=98 BORDER=0 ALIGN=bottom></A> 
				</div>
			</div>

			<div id="bottom">
						<div id="formulaire"><form name="form1" method="post" action="newsletter_ajout_email.php"><span class="libel">Pour recevoir la Newsletter, saisissez votre adresse email : </span><input type="text" name="lemail">
							<input type="submit" name="Submit" value="Valider">
						</form></div>
						{msgnewsletter}
						{msgdroitsreserves}
						<p class="merci">Merci à http://www.lashampoo.com/pages/Cryptage.html pour le script de cryptage<br />des adresses mail, pour eviter les pollupostages.</p>
			 </div>


		</div>
	</div>
</div>
{scriptsbaspage}
</body>
</HTML>
