<HTML>
<HEAD>
<TITLE>Les champignons de France les plus courants.</TITLE>
<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="ROBOTS" content="All">
<meta http-equiv="Content-Language" content="fr">
<meta name="Keywords" content="champignon, champignons, information, utilisation, medicine,culinaire">
<meta name="Description" content="Fiches descriptives, dessins et photos sur 400 champignons couramment rencontres.">
<link href="templates/stylesfleurs.css" rel="stylesheet" type="text/css" />

</HEAD>
<body class="champi">
<div id="champi">
	<div id="centrer">
		<div id="site">
			<div id="header">
				<div id="header_gauche"></div>
				<div id="header_droit"></div>
			</div>
			<div id="main">
			  <div id="main_gauche">
					<div id="contact">Nous contacter : <a href="mailto:georgeslaroche@free.fr">georgeslaroche@free.fr</a></div>
					<div id="titre"><A HREF="liste.php">Champignons</a></div>
					<div id="sous_titre">Description des esp&egrave;ces communes de champignons fran&ccedil;ais</div>					
					  <div id="titre2"><A HREF="liens_utiles.php">Liens utiles</a></div>
					  <div id="sous_titre2">Quelques sites o&ugrave; il est question de champignons</div>
			  </div>

				<div id="main_droite">
					<A HREF="fiche.php?code=10092"><IMG SRC="phototheque/vignette_champi/tricholoma_imbricatum_30.jpg" WIDTH=70 HEIGHT=98 BORDER=0 ALIGN=bottom></A> 
					<A HREF="fiche.php?code=10102"><IMG SRC="phototheque/vignette_champi/coprinus_picaceus_31.jpg" WIDTH=70 HEIGHT=98 BORDER=0 ALIGN=bottom></A> 
					<A HREF="fiche.php?code=10019"><IMG SRC="phototheque/vignette_champi/coprinus_comatus_30.jpg" WIDTH=70 HEIGHT=98 BORDER=0 ALIGN=bottom></A> 
				</div>
			</div>

			<div id="bottom">
						<div id="formulaire"><form name="form1" method="post" action="newsletter_ajout_email.php"><span class="libel">Pour recevoir la Newsletter, saisissez votre adresse email : </span><input type="text" name="lemail">
							<input type="submit" name="Submit" value="Valider">
						</form></div>
						{msgnewsletter}
						{msgdroitsreserves}
						<p class="merci">Merci à http://www.lashampoo.com/pages/Cryptage.html pour le script de cryptage<br />des adresses mail, pour eviter les pollupostages.</p>
			 </div>
		</div>
	</div>
</div>
{scriptsbaspage}
</body>
</HTML>
