<HTML>
<HEAD>
<TITLE>Les fleurs sauvages les plus courantes.</TITLE>
<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="ROBOTS" content="All">
<meta http-equiv="Content-Language" content="fr">
<meta name="Keywords" content="fleur, plante, photo,dessins, identification,fiche, information, utilisation, medicine,culinaire">
<meta name="Description" content="Fiches descriptives, dessins et photos sur 400 plantes sauvages couramment rencontrees. Un programme vous aide a identifier une plante trouvee.">
<link href="templates/stylesfleurs.css" rel="stylesheet" type="text/css" />
</HEAD>

<body class="fleurs">
<div id="fleurs">
	<div id="centrer">
		<div id="site">
			<div id="header">
				<div id="header_gauche"></div>
				<div id="header_droit"></div>
			</div>
			
			<div id="main">
				<div id="main_gauche">
					  <div id="contact">Nous contacter : <a href="mailto:georgeslaroche@free.fr">georgeslaroche@free.fr</a></div>
<div id="titre">Une application iphone pour vous aider</div>
<div id="sous_titre">
Si vous avez un iphone, vous pouvez charger une nouvelle application qui vous aidera &agrave; identifier les
plantes &agrave; fleurs, sauvages, de votre jardin, de votre rue ou de vos
randonn&eacute;es.<a href="https://itunes.apple.com/fr/app/iherbarium/id646361490?mt=8"> <img src="http://www.iherbarium.fr/fileadmin/medias/interface/Download_on_the_App_Store_Badge_FR_135x40.png"></a>
</div>

					  <div id="titre"><A HREF="liste.php">Plantes de France</a></div>
					  <div id="sous_titre">Pr&eacute;sentation de 1100 esp&egrave;ces et de leurs caract&eacute;ristiques</div>
					  <div id="titre2"><a href="reconnaitre-une-fleur.html">Le nom d'une fleur</a></div>
					  <div id="sous_titre2">M&eacute;thode simplifi&eacute;e avec syst&egrave;me expert permettant de d&eacute;terminer 350 esp&egrave;ces courantes</div>
					  <div id="titre2"><a href="notice_geolocalisation.php">L'herbier virtuel</a></div>
					  <div id="sous_titre2">Geolocalisez vos plantes trouvées</div>

					  <div id="titre2"><A HREF="liens_utiles.php">Liens utiles</a></div>
					  <div id="sous_titre2">Quelques sites o&ugrave; il est question de plantes</div>
				</div>
				<div id="main_droite"> <A HREF="fiche_tamus_communis.html"><IMG SRC="phototheque/vignette_fleurs/tamus_communis_1.jpg" WIDTH=70 HEIGHT=98 BORDER=0 ALIGN=bottom></A> <A HREF="fiche_echium_vulgare.html"><IMG SRC="phototheque/vignette_fleurs/echium_vulgare_2.jpg" WIDTH=70 HEIGHT=98 BORDER=0 ALIGN=bottom></A> <A HREF="fiche_cardamine_pratensis.html"><IMG SRC="phototheque/vignette_fleurs/cardamine_pratensis_2.jpg" WIDTH=70 HEIGHT=98 BORDER=0 ALIGN=bottom></A> <A HREF="fiche_anemone_nemorosa.html"><IMG SRC="phototheque/vignette_fleurs/anemone_nemorosa_1.jpg" WIDTH=70 HEIGHT=98 BORDER=0 ALIGN=bottom></A> 
				</div>
			</div>
			<div id="bottom">
						<div id="formulaire"><form name="form1" method="post" action="newsletter_ajout_email.php"><span class="libel">Pour recevoir la Newsletter, saisissez votre adresse email : </span><input type="text" name="lemail">
							<input type="submit" name="Submit" value="Valider">
						</form></div>
						{msgnewsletter}
						{msgdroitsreserves}
			 </div>
		</div>
	</div>
</div>
{scriptsbaspage}
</body>
</HTML>
