<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="Author" content="g laroche">
<title>Notice localisation herbier virtuel d'arbres de France</title>
<link href="templates/stylesfleurs.css" rel="stylesheet" type="text/css" />
</head>
<body class="{gamme}">
<div id="{gamme}">
  <div id="centrer">
    <div id="site">
	  <div id="header">
	  	<a href="index.php">
        <div id="header_gauche"></div>
        <div id="header_droit"></div>
		</a>
      </div>
	  <div id="notice_geoloc">
		  <p align="right"><a href="index.php" class="retour">&lt;&lt; retour à l'accueil</a></p>
		  <p><strong>Localisation des plantes de notre phototh&egrave;que.</strong></p>
		  <p>Nous avons d&eacute;velopp&eacute; un syst&egrave;me de base de donn&eacute;es permettant de <strong>visualiser l'emplacement o&ugrave; une esp&egrave;ce a &eacute;t&eacute; vue</strong>. On peut cumuler sur la m&ecirc;me carte toutes les observations qu'on a soi-m&ecirc;me r&eacute;alis&eacute;es, toute plante confondues, ou bien voir toutes les observations des internautes pour une plante pr&eacute;cise.</p>
		  <p>Un exemple valant mieux qu'un long discours, voil&agrave; un lien vers une carte pr&eacute;sentant trois observations d'Oeillet de Montpellier : <span class="nomcommun"><a href="http://www.fleurs-des-champs.com/geoloc_consultation.php?ns=dianthus_monspessulanus">cliquer ici</a></span>
			  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
		  </p>
		  <p>Pour enregistrer une observation, le processus est en deux &eacute;tapes : allez sur la fiche de la plante d&eacute;sir&eacute;e, puis cliquez en haut de page sur le lien <strong>&quot;g&eacute;olocaliser cet arbre&quot;</strong>. Vous devrez alors placer un marqueur sur une carte indiquant l'endroit pr&eacute;cis o&ugrave; vous l'avez vu ; on peut naviguer plus vite en tapant le nom de la commune concern&eacute;e dans le champ au dessus de la carte - on peut choisir la vue en mode carte routi&egrave;re ou vue satellite, selon les rep&egrave;res que l'on a.</p>
		  <p><strong>Vous pouvez renseigner d'autres informations :</strong></p>
		 <ul><li>date d'observation,</li>
	  <li>s&ucirc;ret&eacute; de votre identification,</li>
	 <li>abondance de l'esp&egrave;ce &agrave; cet endroit,</li>
	  <li>publication de votre observation : soit elle est masqu&eacute; par une incertitude de + ou - six kilom&egrave;tre, soit elle est totalement invisible,</li>
		  <li>le champ pr&eacute;nom nom qui est demand&eacute; en fin de formulaire est visible sur la carte avec vos observations,</li>
		  <li>on a besoin de votre email, qui servira &agrave; vous envoyer : une copie des informations saisies, et des liens pour consulter l'ensemble de vos observations.</li></ul>
		  <p>N'h&eacute;sitez pas &agrave; tester le syst&egrave;me, et &agrave; nous renvoyer vos suggestions.</p>
		  <p><strong>L'&eacute;quipe Arbres de France. </strong></p>
	  </div>
      <div id="bottom">
		{msgdroitsreserves}
	  </div>	  
    </div>
  </div>
</div>
{scriptsbaspage}
</body>
</html>
