<script type="text/javascript"><!--
          google_ad_client = "pub-7882523302276341";
          google_alternate_color = "6131BD";
          google_ad_width = 468;
          google_ad_height = 60;
          google_ad_format = "468x60_as";
          google_ad_type = "text_image";
          //2007-05-26: phototek_plante
          google_ad_channel = "4402850113";
          google_color_border = "FFFFFF";
          google_color_bg = "80BB73";
          google_color_link = "364E30";
          google_color_text = "FFFFFF";
          google_color_url = "008000";
          //-->
          </script>
          <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
