<table border="0" cellpadding="1" cellspacing="1" class="etiquette" style="font-size:11px;"> 
	<tr>
		<td style="text-align:center;"><img src={img_qr_code} width=70></td>
		<td style="padding-top:8px;">
		<span class="important" style="font-size:12px;"><em>{value_determinavit}</em></span><br />
		<span class="important">UUID Specimen</span> : {uuid_specimen}<br/>
		{legend_recolteur} : {value_recolteur} ( {value_date} ) / {value_localisation}<br />
		{legend_determinavit_author} : {value_determinavit_author}<br />
		<span class="important">n&deg; {value_obs_number}</span>
		</td>
	</tr>
</table>
