<table border="0" cellpadding="2" cellspacing="2" class="etiquette"> 
</tr>

	<tr> 
	 	<td style="width:100px;text-align:center;">
		<br/>
		<br/><br/><br/><br/><br/><br/><br/><br/>
	    	<img src={img_qr_code} width=100>
		</td>
	    <td style="padding-top:13px;">
	    <img src=http://www.iherbarium.fr/interface/logo-chbg-oct.jpg width=100>ex HERBARIO Cherbourg<br>
			<span class="important">{legend_obs_number}</span> : {value_obs_number}<br/>
			<span class="important">{legend_recolteur}</span> : {value_recolteur}<br/>
			<span class="important">{legend_date}</span> : {value_date}<br/>
			<span class="important">{legend_localisation}</span> : {value_localisation}<br/>
			
			<div style="font-size: 18pt;text-align: center;align:center;"> {value_determinavit_famille}<br/></div>
			<br/>
			<span class="important">{legend_determinavit}</span> : {value_determinavit}<br/>
			<div style="text-align:right">{value_determinavit_author}</div><br/>
			
			 <span style="font-size: 7pt;">UUID Specimen : {uuid_specimen}</span><br/>
		</td>
	</tr>
</table>
