<table border="0" cellpadding="2" cellspacing="2" class="etiquette ssbord"> 
	 <tr>	 
	 	<td style="width:100px;text-align:center;">	
 	    	<img src={img_qr_code} width=100>
			 {pictures_list}
		</td>
	    <td style="padding-top:10px;">	     
			 <span class="important">{legend_obs_number}</span> : {value_obs_number}<br/>
			 <span class="important">UUID Specimen</span> : {uuid_specimen}<br/>
			 <span class="important">UUID Observation</span> : {uuid_observation}<br/>
			 <span class="important">{legend_recolteur}</span> : {value_recolteur}<br/>
			 <span class="important">{legend_personnal_ref}</span> : {value_personnal_ref}<br/>
			 <span class="important">{legend_date}</span> : {value_date}<br/><br/>
			 <span class="important">{legend_localisation}</span> : {value_localisation}<br/>
			 <span class="important">{legend_address_detail}</span> : {value_address_detail}<br/><br/>
			 <span class="important">{legend_notes}</span> : {value_notes}<br/><br/>
			 <span class="important">{legend_determinavit_author}</span> : {value_determinavit_author}<br/>
			 <span class="important">{legend_determinavit}</span> : <em>{value_determinavit}</em> 
		</td>
	</tr>
</table>