<table border="0" cellpadding="2" cellspacing="2" class="etiquette"> 
	<tr> 
	 	<td style="width:100px;text-align:center;">	
	    	<img src={img_qr_code} width=100>
		</td>
	    <td style="padding-top:13px;">	  
			<span class="important">{legend_obs_number}</span> : {value_obs_number}<br/>
			<span class="important">UUID Specimen</span> : {uuid_specimen}<br/>
			<span class="important">UUID Observation</span> : {uuid_observation}<br/>
			<span class="important">{legend_recolteur}</span> : {value_recolteur}<br/>
			<span class="important">{legend_date}</span> : {value_date}<br/>
			<span class="important">{legend_localisation}</span> : {value_localisation}<br/>
			<span class="important">{legend_determinavit_author}</span> : {value_determinavit_author}<br/>
			<span class="important">{legend_determinavit}</span> : {value_determinavit}
		</td>
	</tr>
</table>
