<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
<title>Maquette site Typo3</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script src="AC_RunActiveContent.js" type="text/javascript"></script>
</head>
<body>
<!--###DOCUMENT_BODY###  start-->
<script type="text/javascript">$(document).ready(function(){$(".page_lightbox").colorbox({width:"80%", height:"80%", iframe:true, transition:"elastic", scrolling:false, opacity:0.6, overlayClose:false, close:"Fermer"});});</script>
<div id="centrer">
  <div id="site">
    <div id="contenu">
      <div id="bandeau_logo">
        <div id="connexion"><a href="index.php?id=connexion"></a></div>
        <!--fin connexion-->
      </div>
      <!--fin bandeau_logo-->
      <div id="bandeau_haut">
        <div id="barre_nav">
          <div id="picto_home"><a href="index.php?id=accueil"></a></div>
          <!--fin picto_home-->
          <ul>
            <!--###MENU_HAUT###  start-->
            <li class="actif"><span>ACCUEIL</span></li>
            <li><a href="#"><span>MENU2</span></a></li>
            <li><a href="#"><span>MENU3</span></a></li>
            <li><a href="#"><span>MENU4</span></a></li>
            <!--###MENU_HAUT###  end-->
          </ul>
        </div>
        <!--fin barre_nav-->
        <div id="recherche">
          <form action="index.php?id=pubsearch" method="post" name="searchform" id="searchform" >
            <input name="searchedname" type="text" size="30" value="Rechercher, plante, fleur..." onfocus="if(this.value=='Rechercher, plante, fleur...') this.value='';"/><input name="tx_indexedsearch[submit_button]" class="btn_ok" type="submit" value="" style="border:none" />
         
          </form>
        </div>
        <!--fin recherche-->
        <div id="ss_barre_nav">
          <ul>
            <!--###MENU_HAUT_NIV2###  start-->
            <li class="actif">sous menu 1</li>
            <li><a href="#">sous menu 2</a></li>
            <li><a href="#">sous menu 3</a></li>
            <li><a href="#">sous menu 4</a></li>
            <!--###MENU_HAUT_NIV2###  end-->
          </ul>
        </div>
        <!--fin ss_barre_nav-->
      </div>
      <!--fin bandeau_haut-->
      <div id="main">
        <div id="contenu_centre">
          <!--###CONTENT###  start-->
          <!--###CONTENT###  end-->
        
        </div>
        <!--fin contenu_centre-->
        <div id="contenu_droite">
          <!--###CONTENT_RIGHT###  start-->
          <p>ici le contenu droite</p>
          <!--###CONTENT_RIGHT###  end-->
           
        </div>
        <!--fin contenu_droite-->
      </div>
      <!--fin main-->
    </div>
    <!--fin contenu-->
    <div id="footer">
      <p>
        <!--###MENU_BOTTOM###  start-->
        <a href="index.php?id=42"  >Plan du site</a>&nbsp;&#x7c;&nbsp;<a href="index.php?id=41"  >© IHERBARIUM 2010 </a>&nbsp;&#x7c;&nbsp;<a href="index.php?id=809"  >Contactez-nous</a>
        <!--###MENU_BOTTOM###  end-->
      </p>
    </div>
    <!--fin footer-->
  </div>
  <!--fin site-->
</div>
<!--fin centrer-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18685985-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!--###DOCUMENT_BODY###  end-->
</body>
</html>
