<?xml version="1.0" encoding="iso-8859-1"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr"> 
<head> 
<title>Maquette site Typo3</title> 
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

</head> 
<body> 
<!--###DOCUMENT_BODY###  start-->
<style>
body { font-family: Arial, Verdana, Helvetica, sans-serif; text-align: center; width: 880px; margin: 0 auto 0 auto; }
#header{width: 880px; height:60px; position:relative;}
#bandeau_logo{ background-image: url(http://www.iherbarium.fr/fileadmin/template/img/logo.jpg); width:330px; height: 60px; position:relative; float:left;}
#bandeau_haut{ width:535px; height: 60px; background-color:#ebf1ba; position:relative; float:left; font-size :24px; color:#515457; text-align: left; padding-left:15px; vertical-align:middle; line-height: 60px; font-weight: bold;}
#content{border:dotted 3px #b5c689; width:730px; height:auto; text-align:left; margin-top:20px; font-size :16px; color:#6c6f72; padding-left:70px; padding-right:70px; padding-top:50px; padding-bottom:50px;}
#headline{font-weight: bold; margin-left:20px; margin-top:60px; font-size :18px; color:#152b1d; text-align:left; width:800px; }
#pied-de-page{ width: 730px; height:40px; margin-left:20px; margin-top: 15px; font-size:12px; text-align:left; font-style:italic; }
#footer{ width:875px; height:40px;  background-color:#b5c689; margin-top: 35px; }
</style> 
<div id="centrer"> 
  <div id="site"> 
    <div id="contenu"> 
	<div id="header">
      <div id="bandeau_logo"></div>
      <!--fin bandeau_logo--> 
      <div id="bandeau_haut">
	<!--###TITRE### start-->
       <!--###TITRE### end--> 
      </div> 
	   <!--fin bandeau_haut--> 
	  </div>
      <!--fin header--> 
      <div id="main">
		<div id="headline">  
		<!--###CONTENT_LEFT### start-->
         <!--###CONTENT_LEFT### end--> 
		</div>
        <div id="content"> 
           <!--###CONTENT###  start-->
	   contenu
          <!--###CONTENT###  end-->
        </div> 
        <!--fin content-->
		 <div id="pied-de-page">
		  <!--###PIED###  start--> 
          <!--###PIED###  end--> 
		 </div>
      </div> 
      <!--fin main--> 
    
    <div id="footer"> 
   
    </div> 
    <!--fin footer--> 
  </div> 
  <!--fin site--> 

</div> 
<!--fin centrer--> 

<!--###DOCUMENT_BODY###  end--> 
</body> 
</html> 